body{
    font-family: 'Open Sans', sans-serif;
    color: #16354e;
    font-size: 1.1em;
    line-height: 1.25em;
    background-image: url("img/bg-clouds.png");
    background-color: #56ace3;
    width: 100vw;
}
main{
    width: 40vw;
    margin: auto;
}
.password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 98%;
    
}
img{
    padding-right: 0.25em;
}
.password input{
    border: none;
    outline: none;
}
.name,.corps,.checkbox>p,.footer{
    font-weight:bold;
}

.head{
    font-family: 'Poiret One', cursive;
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 1em;
}
.name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4em;
}
.name div{
    width: 60%;
}
.name div:last-child{
    margin-left: 1.5em;
}
.name div input{
    padding: 1em 0.6em;
    margin-top: 0.5em;
    width: 90%;
}
.corps div{
    margin-bottom: 1.25em;
}
.corps div input{
    padding: 1em 0.6em;
    width: 95%;
    margin-top: 0.5em;
}
form{
     padding: 1.5em;
     background: white;
     font-family: 'Open Sans',Arial,sans-serif;
}
.checkbox input{
    display: none;
}
.checkbox div{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    
}
a{
    color: #16354e;
    text-decoration-color: currentColor;
}
.checkbox label{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
}
.checkbox input:checked+label{
    color: #fff;
    background-color: #217dbb;
}

/*partie 3: on/off*/
.footer{
    
    display: flex;
    justify-content: space-between;
}
.checkbox-btn{
    position: relative;
    top: 43px;
    left: 45px;
   
    transform: translate(-50%,-50%);
    width: 120px;
    height: 40px;
}
.checkbox-btn input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.checkbox-btn div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;

}
.checkbox-btn div .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 40px;
    background: #f0f4f7;
    transition: 0.5s;
}
.checkbox-btn input:checked + div .slide{
    transform: translateX(60px)
}
.checkbox-btn .slide:before{
    content: 'ON';
    position: absolute;
    top: 0;
    left: -60px;
    text-align: center;
    width: 60px;
    height: 100%;
    line-height: 40px;
    background: #00da00;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.checkbox-btn .slide:after{
    content: 'OFF';
    position: absolute;
    top: 0;
    right:-60px;
    text-align: center;
    width: 60px;
    height: 100%;
    line-height: 40px;
    background: #b9c2ca;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.submit input{
    background-color:#217dbb;
    font-family: 'open sans',arial,sans-serif;
    font-size: 1.25em;
    line-height: 1.5em;
    color: white;
    width: 8vw;
    height: 6vh;
    border: none;

}
.submit{
  display: flex;
  justify-content: center;
  align-items: center;
}
